//获取星期几信息
var getChineseWeek = function(day) {
  switch (day) {
    case 0:
      return '周日'
    case 1:
      return '周一'
    case 2:
      return '周二'
    case 3:
      return '周三'
    case 4:
      return '周四'
    case 5:
      return '周五'
    case 6:
      return '周六'
  }
  return ''
}

//获取字符串格式的年月日
var getFormatDate = function(date, spliterOptions, attrOptions) {
  if (!date) return ''
  var year = date.getFullYear()
  var month = ((date.getMonth() + 1) >= 10) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))
  var day = date.getDate() >= 10 ? date.getDate() : ('0' + date.getDate())
  if (spliterOptions.useCn) {
    return '' + ((attrOptions && attrOptions.excYear) ? '' : (year + '年')) + ((attrOptions && attrOptions.excMonth) ? '' : (month + '月')) + ((attrOptions && attrOptions.excDay) ? '' : (day + '日'))
  } else {
    return '' + ((attrOptions && attrOptions.excYear) ? '' : (year + spliterOptions.spliter)) + ((attrOptions && attrOptions.excMonth) ? '' : (month + spliterOptions.spliter)) + ((attrOptions && attrOptions.excDay) ? '' : day)
  }
}

//获取当前时间date对象
var getCurrentDate = function() {
  return getDate()
}

module.exports = {
  getChineseWeek: getChineseWeek,
  getFormatDate: getFormatDate,
  getCurrentDate: getCurrentDate,
}