var Util = require('../../utils/util.wxs')

//获取日期字符串
var getSelectedDateStr = function(dateString) {
  if (!dateString) return '发生在哪天呢~'
  var date = getDate(dateString)
  return Util.getFormatDate(date, {
    useCn: false,
    spliter: '.'
  }, null) + ' ' + Util.getChineseWeek(date.getDay())
}

//获取日期字体颜色
var getDateFontColor = function(dateString) {
  return dateString ? 'white' : '#f0f0f0'
}

//返回有多少个新增按钮
var getAddImagesArray = function(urls) {
  var size = (urls && urls.length > 0) ? (3 - urls.length % 3) : 3
  var arr = []
  for (var i = 0; i < size; ++i) {
    arr[i] = i
  }
  return arr
}

module.exports = {
  getSelectedDateStr: getSelectedDateStr,
  getDateFontColor: getDateFontColor,
  getAddImagesArray: getAddImagesArray,
}